body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1778px;
  height:690px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1778px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:1774px;
  visibility:hidden;
  word-wrap:break-word;
}
