body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1782px;
  height:923px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1782px;
  height:923px;
}
#u1 {
  position:absolute;
  left:2px;
  top:454px;
  width:1778px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:440px;
  top:827px;
  width:1350px;
  height:913px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:913px;
}
#u3 {
  position:absolute;
  left:2px;
  top:448px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:440px;
  top:1080px;
  width:1270px;
  height:670px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:670px;
}
#u5 {
  position:absolute;
  left:2px;
  top:327px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:490px;
  top:833px;
  width:1210px;
  height:78px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:78px;
}
#u7 {
  position:absolute;
  left:2px;
  top:31px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:540px;
  top:1141px;
  width:667px;
  height:69px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:69px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:709px;
  top:486px;
  width:161px;
  height:52px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1179px;
  top:486px;
  width:161px;
  height:52px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:711px;
  top:486px;
  width:135px;
  height:43px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:43px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:490px;
  top:520px;
  width:161px;
  height:52px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1183px;
  top:486px;
  width:120px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1399px;
  top:486px;
  width:161px;
  height:52px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
