body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1767px;
  height:941px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1767px;
  height:941px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:1763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1270px;
  top:430px;
  width:510px;
  height:580px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:580px;
}
#u3 {
  position:absolute;
  left:2px;
  top:282px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:660px;
  top:363px;
  width:260px;
  height:57px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:57px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:900px;
  top:306px;
  width:740px;
  height:104px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:104px;
}
#u7 {
  position:absolute;
  left:2px;
  top:44px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1210px;
  top:363px;
  width:250px;
  height:57px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:57px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1020px;
  top:488px;
  width:270px;
  height:499px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:499px;
}
#u11 {
  position:absolute;
  left:2px;
  top:242px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:660px;
  top:352px;
  width:291px;
  height:62px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:62px;
}
#u13 {
  position:absolute;
  left:2px;
  top:23px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:973px;
  top:361px;
  width:157px;
  height:59px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:59px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:476px;
  top:238px;
  width:234px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
