body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:600px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:53px;
  width:87px;
  height:16px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:192px;
  top:53px;
  width:37px;
  height:16px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:344px;
  top:54px;
  width:18px;
  height:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:11px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:151px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:77px;
  top:195px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:77px;
  top:550px;
  width:263px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:259px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:69px;
  top:79px;
  width:70px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:285px;
  top:153px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:328px;
  top:194px;
  width:22px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:490px;
  top:50px;
  width:320px;
  height:600px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:600px;
}
#u21 {
  position:absolute;
  left:2px;
  top:292px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:354px;
  top:200px;
  width:100px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
