body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1782px;
  height:926px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1782px;
  height:926px;
}
#u1 {
  position:absolute;
  left:2px;
  top:455px;
  width:1778px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:949px;
  width:570px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
