body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1775px;
  height:939px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1775px;
  height:939px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:1771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:949px;
  width:1772px;
  height:529px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:529px;
}
#u3 {
  position:absolute;
  left:2px;
  top:256px;
  width:1768px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:361px;
  top:820px;
  width:219px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:55px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:361px;
  top:740px;
  width:369px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:361px;
  top:894px;
  width:349px;
  height:55px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:55px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:361px;
  top:975px;
  width:349px;
  height:55px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:55px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:361px;
  top:1060px;
  width:349px;
  height:55px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:55px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:361px;
  top:745px;
  width:443px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:340px;
  top:1130px;
  width:1460px;
  height:348px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:348px;
}
#u17 {
  position:absolute;
  left:2px;
  top:166px;
  width:1456px;
  visibility:hidden;
  word-wrap:break-word;
}
